<h2>Form {{product.id> 0? 'Update': 'Create'}} Product</h2>
<form (ngSubmit)="onSubmit()">
    <div>
        <input class="form-control my-2"
        placeholder="Name"
        name="name"
        [(ngModel)]="product.name">
    </div>
    <div>
        <input class="form-control my-2"
        placeholder="Description"
        name="description"
        [(ngModel)]="product.description">
    </div>
    <div>
        <input class="form-control my-2"
        placeholder="Price"
        name="price"
        [(ngModel)]="product.price">
    </div>
    <div>
        <button type="submit" class="btn btn-primary my-2">
            {{product.id> 0? 'Update': 'Create'}}
        </button>
    </div>
</form>
