<h2>{{ title }}</h2>
<div class="tablaProducto">
@if(products.length > 0){
<table class="table table-stripe table-hover">
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>description</th>
            <th>price</th>
            <th>update</th>
            <th>remove</th>
        </tr>
    </thead>
    <tbody>
        @for (product of products; track $index) {
        <tr>
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.description}}</td>
            <td>{{product.price}}</td>
            <td><button class="btn btn-sm btn-primary"
                (click)="onUpdateProduct(product)">Update</button></td>
            <td><button class="btn btn-sm btn-danger"
                (click)="onRemoveProduct(product.id)">Remove</button></td>
        </tr>

        } 
    </tbody>
</table>
}@else {
    <div class="alert alert-danger">Lo sentimos no hay registros en el sistema</div>
}
</div>
